@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Frank+Ruhl+Libre&family=Tienne&display=swap');
/* 
font-family: 'Baloo Da 2', cursive;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Tienne', serif; */

:root {
    --color-bck: #D6E4EB;
    --color-bck-card: #EEF0FB;
    --color-primary: #B185A7;
    --color-text: #232C33;
    --color-text2: #B5B2C2;
    --color-active: #0DAB76;
    --color-wait: #F15946;
}


html,
body {
    border: 0;
}

body {
    display: flex;
    width: 100%;
    margin: 0;
    background: var(--color-bck);
    min-height: 100vh;
}

h1 {
    font-family: 'Baloo Da 2', cursive;
    margin-top: 1em;
}

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 16px;
}

p,
ul,
li {
    font-family: 'Tienne', serif;
    font-size: 13px;
}

.menu {
    width: 5%;
    height: inherit;
    color: var(--color-bck-card);
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
}

.menu i {
    font-size: 26px;
    padding: 0.7em;
    text-align: center;
    cursor: pointer;
}

.menu :nth-child(1) {
    padding-top: 2em;
}

.menu :nth-child(2) {
    border-left: 2px solid white;
    background: var(--color-bck-card);
    background-color: var(--color-text2);
}

.main-body {
    display: flex;
    flex-direction: row;
    width: 95%;
    color: var(--color-text);
}

.liste-left {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2em 1em 2em 2em;
    border-radius: 5px;
}

.list-head {
    display: flex;
    align-items: center;
}

.icone {
    margin-left: 6em;
}

.icone :nth-child(2) {
    padding-left: 10px;
}

.icone i {
    cursor: pointer;
    color: var(--color-text2)
}

.map-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    background: var(--color-bck-card);
    justify-content: center;
    margin: 2em 2em 2em 1em;
    border-radius: 5px;
    align-self: start;
}



div.map {
    height: 100%;
    width: 50%;
    min-width: 550px;
    margin-top: 2em;
    align-self: center;
}



svg#svg2 {
    fill: none;
    user-select: none;
    width: 100%;
    height: 100%;
}

svg#svg2 g#layer2 path {
    fill: none;
    pointer-events: all;
}

svg#svg2 g#layer2 path:hover {
    fill: #03a9f499;
    cursor: pointer;
}

@media (max-width: 800px) {
    svg#svg2 {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    div.map {
        min-width: 0;
        height: 100%;
        width: 100%;
    }
}

.liste {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

@media (max-width: 1200px) {
    .liste {
        margin: 1%;
        width: 100%;
    }

    .liste::before {
        margin-top: 0em !important;
        margin-bottom: 10px;
    }

    div.map {
        width: 100%;
    }

    svg#svg2 {
        border-radius: 0;
    }
}

li {
    list-style: none;
    cursor: pointer;
    background: var(--color-bck-card);
    margin-bottom: 2em;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 1px rgb(0 0 0 / 25%), 0 5px 3px rgb(0 0 0 / 22%);
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}


ul li {
    fill: var(--color-wait);
}

ul li:nth-child(even) {
    fill: var(--color-active);
}


li::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
}

ul li svg {
    display: block;
    position: relative;
    left: 249px;
    top: 3px;
}

@media (max-width: 400px) {
    ul li svg {
        left: 69px;
    }
}



li:hover {
    background: var(--color-primary);
    box-shadow: none;
    color: var(--color-bck-card);
}

ul.soignant-liste {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* width */

ul::-webkit-scrollbar {
    width: 1px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1px;
}

/* Handle */

ul::-webkit-scrollbar-thumb {
    background: #d3ebfa;
    border-radius: 10px;
}

/* Handle on hover */

ul::-webkit-scrollbar-thumb:hover {
    background: #f4e2ba;
}

.head-card{
    display: flex;
    width: 100%;
}

.card{
    width: 35%;
    height: 200px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 25%), 0 5px 3px rgb(0 0 0 / 22%);
    margin: 1em;
    text-align: center;
}

.head-card :nth-child(2){
    color: var(--color-bck-card);
    background: var(--color-primary);
    margin: 1em 0 1em 0;
}

.horaire p, .tarif p{
    text-align: left;
    margin-left: 50px !important;
    letter-spacing: 2px;
    margin-block: 4px !important;
}

.tarif p {
    background: transparent !important;
    color: var(--color-text) !important;
    line-height: 3;
}

.horaire-color{
    color: var(--color-text2);
}

.nmb-prat{
    background: transparent !important;
    color: var(--color-text) !important;
    font-size: 11px;
}

.card h2{
    margin-bottom: 8px;
}